body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(200, 208, 214);
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.main {
  display: flex;
  background-color: rgb(247, 247, 253);
  height: 300px;
  width: 700px;
  border-radius: 10px;
}

.content.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content.right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image img {
  height: 300px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.img-main img {
  border-radius: 50%;
  height: 80px;
  width: 60px;
}
.img-main {
  display: flex;
}
.footer {
  position: relative;
}
.icons {
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  right: 10px;
}
.card h5 {
  font-family: "Manrope", sans-serif;
}
.name-date {
  font-family: "Manrope", sans-serif;
  margin: 4px;
  padding: 2px;
  bottom: 4px;
}
.card {
  margin: 20px;
  padding: 2px;
}
